<%- include('./adminheader.ejs')%>
<br><br>
<center>
    <h2>Candidate List</h2>
    <br><br>
    <table width="80%" style="border:2px solid black" align="center" cellspacing="4" cellpadding="6">
        <tr bgcolor="black">
            <th style="color:white">First Name</th>
            <th style="color:white">Last Name</th>
            <th style="color:white;text-align: center;">_id</th>
            <!-- <th>Password</th> -->
            <th style="color:white">Gender</th>
            <th style="color:white">Date</th>
            <th style="color:white">Address</th>
            <th style="color:white">Mobile</th>
            <th style="color:white">Qualification</th>
            <th style="color:white">Experience</th>
            <th style="color:white">Percentage</th>
            <th style="color:white">File Name</th>
            <th style="color:white">Admin Verify</th>
            <th style="color:white">Email Verify</th>
            <th style="color:white">Status</th>
        </tr>
        <%obj.forEach(function(list){%>
            <tr bgcolor="whitesmoke">
                <td><%= list.firstname%></td>
                <td><%= list.lastname%></td>
                <td><%= list._id%></td>
                <!-- <td><%= list.password%></td> -->
                <td><%= list.gender%></td>
                <td><%= list.date%></td>
                <td><%= list.address%></td>
                <td><%= list.mobile%></td>
                <td><%= list.qualification%></td>
                <td><%= list.experience%></td>
                <td><%= list.percentage%></td>
                <td><%= list.file%></td>
                <td><a href="/admin/adminverifycandidate?email=<%=list._id %>&adminemail=<%= email%>"><%= list.adminverify%></a></td>
                <td><%= list.emailverify%></td>
                <td><%= list.status%></td>
            </tr>
        <%});%>
    </table>
</center>
<%- include('./adminfooter.ejs')%>
<%- include('./javascript.ejs')%>